/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* components */
@import url('../css/components/banner.css');
@import url('../css/components/primary-button.css');
@import url('../css/components/card.css');
@import url('../css/components/footer.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.container {
  width: 900px;
  margin: 15px auto 30px auto;
}

.container h2 {
  text-align: center;
}
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 900px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 500px) {
  .container {
    width: 300px;
  }
  .cards {
    justify-content: space-around;
  }
}
