.banner {
  background-image: url("../../images/test_3.gif");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}

.banner h1 {
  margin-top: 0;
  color: white;
}

.banner p {
  color: whitesmoke;
  opacity: 0.9;
  font-size: 20px;
  margin-bottom: 40px;
}
